SENSOR_MODE=multiplexed_uart
UART_PORT=/dev/serial0
BAUD_RATE=9600
SERIAL_TIMEOUT=1.0
SAMPLE_INTERVAL=15
SENSOR_READ_FALLBACK_ENABLED=false
SENSOR_READ_FALLBACK_VALUE=0.0

I1_RST_PIN=17
I2_RST_PIN=27
I3_RST_PIN=22

I1_PORT=/dev/ttyUSB0
I2_PORT=/dev/ttyUSB1
I3_PORT=/dev/ttyUSB2

THINGSPEAK_ENABLED=false
THINGSPEAK_API_KEY=REPLACE_WITH_YOUR_THINGSPEAK_WRITE_API_KEY
THINGSPEAK_URL=https://api.thingspeak.com/update
